* {
    margin: 0px;
    padding: 0px;
  }
  
  /* CSS selector to set style for the <body> element */
  body {
    /* Set the font of text displayed */
    font-family: Verdana;
    /* Set the background color */
    background-color: lightgrey;
  }
  
  h1 {
    /* Set border around the element */
    border: 1px solid black;
    /* Set text color */
    color: white;
  }
  
  h3 {
    color:turquoise;
    width: 100%;
  
  }
  
  .tile {
    background-color: #999999;
    margin: 5px;
    padding: 10px 5px;
    height: 200px;
    width: 20%;
  }
  
  #topics-learnt {
    font-family: "Courier New";
  }
  
  .container {
    padding: 100px 0px 0px 0px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  
  #title {
    position: fixed;
    background-color: black;
    text-align: center;
    width: 100%;
  }
